@model EntryDesignConcept.Models.ActivitiesViewModel

<div class="col-md-2">
    <div class="form-horizontal">
        <div class="form-group">
            <a href="#" style="font-weight:bolder">List of Activities</a>
        </div>
        @foreach (var item in Model.Billability)
        {
            <div class="form-group">
                <a href="#" class="fc-event draggable"  data-duration='01:00' data-event='{"title":"@item.ActivityID.Name", "id":"@item.ID", "billabilityID": "@item.ID"}'>
                    &nbsp; @item.ActivityID.Name
                </a>
            </div>
        }
        <div class="form-group">
            <a href="#" style="font-weight:bolder">Hours Rendered</a>
        </div>
        <div class="form-group">
            <table class="table table-bordered table-hover table-condensed">
                <tr>
                    <th>
                        Day
                    </th>
                    <th class="text-center">
                        Hours
                    </th>
                </tr>
                <tr>
                    <td> Friday:</td>
                    <td class="text-center"> 1.00 </td>
                </tr>
                <tr>
                    <td> Monday:</td>
                    <td class="text-center"> 1.00 </td>
                </tr>
                <tr>
                    <td> Tueday:</td>
                    <td class="text-center"> 1.00 </td>
                </tr>
                <tr>
                    <td> Wednesday:</td>
                    <td class="text-center"> 1.00 </td>
                </tr>
                <tr>
                    <td> Thursday:</td>
                    <td class="text-center"> 1.00 </td>
                </tr>
                <tr>
                    <td> Week Total:</td>
                    <td class="text-center"> 5.00 </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <button class="btn btn-info btn-xs" title="save changes"><span class="fa fa-save"></span></button>
            <button class="btn btn-info btn-xs" title="undo changes"><span class="fa fa-undo"></span></button>
        </div>
    </div>
</div>
<div class="col-md-10">
    <div class="row">
        <div class="col-md-12">
            <div id="calendar">
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.draggable').draggable({
                revert: true,      // immediately snap back to original position
                revertDuration: 0  //
            });

            $('#calendar').fullCalendar({
                aspectRatio: 1.8,
                weekNumbers: true,
                editable: true,
                droppable: true,
                slotDuration: '00:15:00',
                drop: function (date) {
                    alert($(this).data('duration'));
                },
                eventResizeStop: function (event) {
                    alert("start:" + event.start + "end:" + event.end);
                },
                eventDrop: function (event)
                {
                    alert(event.billabilityID);
                },
                eventRender: function(event, element) {
                    $(element).attr('data-toggle', 'tooltip');
                    $(element).attr('title', 'tooltip 1');
                },
                firstDay: 5,
                minTime: "05:00:00",
                events: [
                    {
                        id: '1',
                        resourceId: 'a',
                        title: 'Meeting',
                        start: '2015-10-27'
                    }
                ]
            });
            $('#calendar').fullCalendar('changeView', 'agendaWeek');

        });

    </script>
}
